<?xml version="1.0" encoding="utf-8"?>
<routes>
    <route route_id="torrent_index" format="torrents/" controller="TorrentTracker:Torrent" action="index">
        <title>صفحة التورنت</title>
    </route>

    <route route_id="torrent_view" format="torrents/{torrent_id}/" controller="TorrentTracker:Torrent" action="view">
        <title>عرض التورنت</title>
    </route>

    <route route_id="torrent_upload" format="torrents/upload/" controller="TorrentTracker:Torrent" action="upload">
        <title>رفع تورنت جديد</title>
    </route>

    <route route_id="vip_index" format="vip/" controller="TorrentTracker:Vip" action="index">
        <title>صفحة VIP</title>
    </route>

    <route route_id="vip_subscribe" format="vip/subscribe/" controller="TorrentTracker:Vip" action="subscribe">
        <title>الاشتراك في VIP</title>
    </route>
</routes>
