<form action="{{ link('torrents/edit', $torrent) }}" method="post" class="block">
    <div class="block-container">
        <div class="block-body">
            <dl class="formRow">
                <dt><label for="title">عنوان التورنت</label></dt>
                <dd><input type="text" name="title" value="{{ $torrent.title }}" class="input" /></dd>
            </dl>

            <dl class="formRow">
                <dt><label for="description">الوصف</label></dt>
                <dd><textarea name="description" class="input">{{ $torrent.description }}</textarea></dd>
            </dl>

            <dl class="formRow">
    <dt><label for="freeleech">تورنت مجاني (FreeLeech)</label></dt>
    <dd>
        <input type="checkbox" name="freeleech" value="1" {{ checked($torrent.freeleech) }} />
        <span>لن يؤثر التحميل على نسبة الريشيو</span>
    </dd>
</dl>

<dl class="formRow">
    <dt><label for="freeleech_until">انتهاء FreeLeech</label></dt>
    <dd>
        <input type="datetime-local" name="freeleech_until" value="{{ $torrent.freeleech_until ? date('Y-m-d\TH:i', $torrent.freeleech_until) : '' }}" class="input" />
        <span>إذا لم يتم إدخال تاريخ، فسيظل FreeLeech نشطًا دائمًا.</span>
    </dd>
</dl>
        </div>

        <div class="formSubmitRow">
            <button type="submit" class="button primary">حفظ التغييرات</button>
        </div>
    </div>
</form>
