<h2>إدارة التورنتات</h2>
<table class="dataList">
    <thead>
        <tr>
            <th>العنوان</th>
            <th>الحجم</th>
            <th>Seeders</th>
            <th>Leechers</th>
            <th>FreeLeech</th>
            <th>إجراءات</th>
        </tr>
    </thead>
    <tbody>
        <xf:foreach loop="$torrents" value="$torrent">
            <tr>
                <td>{{ $torrent.title }}</td>
                <td>{{ $torrent.size|filesize }}</td>
                <td>{{ $torrent.seeders }}</td>
                <td>{{ $torrent.leechers }}</td>
                <td>
                    <xf:if is="{$torrent.freeleech}">
                        <span style="color: green; font-weight: bold;">✔</span>
                    <xf:else />
                        <span style="color: red;">✘</span>
                    </xf:if>
                </td>
                <td>
                    <a href="{{ link('torrents/edit', $torrent) }}" class="button">تعديل</a>
                </td>
            </tr>
        </xf:foreach>
    </tbody>
</table>
