<xf:title>قائمة التورنت</xf:title>

<xf:pageaction>
    <a href="{{ link('torrents/add') }}" class="button--link">إضافة تورنت</a>
</xf:pageaction>

<table class="dataList">
    <thead>
        <tr>
            <th>اسم الملف</th>
            <th>الحجم</th>
            <th>Seeders</th>
            <th>Leechers</th>
        </tr>
    </thead>
    <tbody>
        <xf:foreach loop="$torrents" value="$torrent">
            <tr>
                <td>{{ $torrent.file_name }}</td>
                <td>{{ $torrent.file_size|number_format }}</td>
                <td>{{ $torrent.seeders }}</td>
                <td>{{ $torrent.leechers }}</td>
            </tr>
        </xf:foreach>
    </tbody>
</table>
