<h2>قائمة الأعضاء الذهبيون VIP</h2>

<table class="dataList">
    <thead>
        <tr>
            <th>اسم المستخدم</th>
            <th>تاريخ انتهاء VIP</th>
            <th>تحكم</th>
        </tr>
    </thead>
    <tbody>
        <xf:foreach loop="$users" value="$user">
            <tr>
                <td><a href="{{ link('users/edit', $user) }}">{{ $user.username }}</a></td>
                <td>{{ date('Y-m-d', $user.vip_expiry ?: time()) }}</td>
                <td><a href="{{ link('vip/edit', $user) }}">تحرير</a></td>
            </tr>
        </xf:foreach>
    </tbody>
</table>
